.display {
    
}

.ui {

}

.calculator-container {
    display: flex;
    flex-direction: column;
    background-color: aqua;
    width: 30vw;
    height: 70vh;
}

.digits-container {

}

.operators-container {

}

button {

}

.digit button {

}

.operator button {

}

.equal button {

}

