* {
    padding: 0px;
    margin: 0px;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(18, 15, 15);
}

.display {
    background-color: rgb(4, 34, 7);
    flex: calc(100% / 5);
    font-family: "VT323", monospace;
    font-size: 12vh;
    color: rgb(0, 231, 23);
    text-align: right;
    padding-right: 16px;
}

.ui {
    display: flex;
    flex-direction: row;
    flex: calc(100% / 6 * 5);
    /* justify-content: space-between; */
    /* align-items: self-start; */
}

.calculator-container {
    display: flex;
    flex-direction: column;
    background-color: rgb(73, 74, 48);
    width: 35vw;
    min-width: 120px;
    height: 70vh;
    border: solid 12px rgb(73, 66, 57);
    border-radius: 12px;
    box-shadow: 10px azure;
}

.digits-container {
    display: grid;
    width: 21vw;
    grid-template-columns: 1fr 1fr 1fr;
}

.operators-container {
    display: grid;
    width: 14vw;
    grid-template-columns: 1fr 1fr;
}

button {
    /* flex: 50%; */
    font-family: "Orbitron", sans-serif;
    font-size: 5vh;
    border: solid 3px rgb(140, 114, 80);
    border-radius: 12px;
    background-color: rgb(233, 210, 179);
}

button:hover {
    background-color: rgb(251, 235, 214);
}

button:active {
    background-color: rgb(182, 170, 154);
}

.digits-container button {
    flex: calc(100% / 3);
}

.operator-container button {
    flex: 50%;
}

button #equals{
    display: flex;
}

